
<% content_for :left_sidebar do %>
  <%= link_to "Habits", habits_path %>
<% end %>
<% content_for :right_sidebar do %>
  <%= link_to "Home", home_path %>
<% end %>

<div id="needs_format">

  <div class="needs">
    <div class="status_bar">
      <h2 class="title0">Goals</h2>
    </div>
    <div id="goals" class="rating_container"></div>
  </div>

  <div class="needs">
    <div class="status_bar">
      <h2 class="title0">Diet</h2>
    </div>
      <div class="rating_container"></div>
  </div>

   <div class="needs">
    <div class="status_bar">
      <h2 class="title0">Exercise</h2>
    </div>
      <div class="rating_container"></div>
  </div>

  <div class="needs">
    <div id="sleep" class="status_bar">
      <h2 class="title0">Sleep</h2>
    </div>
      <div class="rating_container"></div>
  </div>

  <div class="needs">
    <div id="social" class="status_bar">
      <h2 class="title0">Social</h2>
    </div>
      <div class="rating_container"></div>
  </div>

</div>
