<p id="test"></p>

<div id="needs_format">

  <div class="needs">
    <div class="status_bar">
      <h2>Goals</h2>
    </div>
    <div id="goals" class="rating_container"></div>
  </div>

  <div class="needs">
    <div class="status_bar">
      <h2>Diet</h2>
    </div>
      <div class="rating_container"></div>
  </div>

   <div class="needs">
    <div class="status_bar">
      <h2>Exercise</h2>
    </div>
      <div class="rating_container"></div>
  </div>

  <div class="needs">
    <div id="sleep" class="status_bar">
      <h2>Sleep</h2>
    </div>
      <div class="rating_container"></div>
  </div>

  <div class="needs">
    <div id="social" class="status_bar">
      <h2>Social</h2>
    </div>
      <div class="rating_container"></div>
  </div>

</div>
