
<% content_for :left_sidebar do %>
  <%= link_to "Habits", habits_path %>
<% end %>
<% content_for :right_sidebar do %>
  <%= link_to "Home", home_path %>
<% end %>

<div class="feature_box">

  <div class="needs">
    <div id="sleep" class="status_bar">
      <h2 class="needsButton">Sleep</h2>
    </div>
      <div class="rating_container"></div>
  </div>

  <div class="needs">
    <div class="status_bar">
      <h2 class="needsButton">Diet</h2>
    </div>
    <div id="goals" class="rating_container"></div>
  </div>

  <div class="needs">
    <div class="status_bar">
      <h2 class="needsButton">Social</h2>
    </div>
      <div class="rating_container"></div>
  </div>

   <div class="needs">
    <div class="status_bar">
      <h2 class="needsButton">Exercise</h2>
    </div>
      <div class="rating_container"></div>
  </div>

</div>
