
<div>
  <div id="goals" class="status_bar">
    <h2>Goals</h2>

    <%= form_for :need, url: needs_path do |f| %>
    <p>
      <%= f.label :goals_average %><br>
      <%= f.text_field :goals_average %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

  </div>

  <div id="diet" class="status_bar">
    <h2>Diet</h2>
  </div>
  <div id="exercise" class="status_bar">
    <h2>Exercise</h2>
  </div>
</div>

<div>
  <div id="sleep" class="status_bar">
    <h2>Sleep</h2>
  </div>
  <div id="social_needs" class="status_bar">
    <h2>Social Needs</h2>
  </div>
</div>
