/* Feature boxes
-----------------------------*/

/* There are the rounded-corner divs on the home page */
.feature_box {
  background-color: #073642;
  width: 95%;
  height: auto;
  padding: 20px;
  margin: 25px auto;
  border-radius: 10px;
}

/*.promo_header1 {
  color: #FBF4E1;
  font-size: 5em;
  margin: 10px 65% 0 5%;
  padding: 0;
}
*/
/*.promo_header2 {
  color: #FEFDFB;
  font-size: 3em;
  margin: 10px 35% 0 5%;
  padding: 0;
}

.promo_header3 {
  color: #FEFDFB;
  font-style: italic;
  margin: 0 65% 0 5%;
  padding: 0;
}*/

.buttons{
  margin-top: 20px;
  text-align: center;
}

.home_nav_button {
  width: 75px;
  padding: 15px;
  margin: 30px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  background-color: #DD4643;
  display: inline;
}

.home_nav_button:hover{
  background-color: #CC3532;
}

#promo_avatar {
  margin: auto;
  padding: 50px;
}
