.feature_box {
  background-color: #073642;
  width: 95%;
  height: auto;
  padding: 20px;
  margin: 25px auto;
  border-radius: 10px;
}

.buttons{
  margin-top: 20px;
  text-align: center;
}

.home_nav_button {
  width: 75px;
  padding: 15px;
  margin: 30px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  background-color: #DD4643;
  display: inline;
}

.home_nav_button:hover{
  background-color: #CC3532;
}

#promo_avatar {
  margin: auto;
  padding: 50px;
}
