body {
  background: #002B36;
  /*background-image: linear-gradient(to left, #002b36 , #073642 );*/
  color: #FEFDFB;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  margin: 10px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 3em;
  margin: 10px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

.slogan {
  font-size: 1.5em;
}

.button{
  margin: 5px;
  background: #DD4643;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.button:hover{
  background: #CC3532;
}

a {
  text-decoration: underline;
  color: #FEFDFB;
  font-weight: normal;
}

.notice {
  font-weight: 400;
}

.alert {
  font-weight: 400;
}

#promo_avatar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#promo_avatar img{
  margin: 10px;
  border-radius: 10px;
}
