body {
  background: #002B36;
  /*background-image: linear-gradient(to left, #002b36 , #073642 );*/
  color: #FEFDFB;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  margin: 10px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 3em;
  margin: 10px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
  font-weight: 400;
}

.slogan {
  font-size: 1.5em;
}

.login_button {
  padding: 10px;
  margin-top: 15px;
}

a {
  text-decoration: underline;
  color: #FEFDFB;
  font-weight: normal;
}

.notice {
  font-weight: 400;
}

.alert {
  font-weight: 400;
}
