.rating_container {
  display: none;
  background-color: #002B36;
  color: #FEFDFB;
  width: 400px;
  height: auto;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

.status_bar {
  width: auto;
  height: 50px;
  text-decoration: none;
  border: none;
  box-shadow: inset 0 0 0 1px #8F2D2B,inset 0 5px 30px #8F2D2B;
  cursor: pointer;
  background-color: #DD4643;
  border-radius: 20px;
  color: #FEFDFB;
  font-size: 0.6em;
  padding: 10px;
  text-align: center;
  margin: 5px;

}

.needs {
  width: 450px;
  margin: auto;
  padding: 10px;
}

.needsSubmitButton {
  margin: 5px;
  background: #DD4643;
  border-radius: 10px;
  color: #FEFDFB;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  box-shadow: inset 0 0 0 1px #8F2D2B,inset 0 5px 30px #8F2D2B;
  cursor: pointer;
}
